deployer
roles
sites.yml
lambda_*.yml
tmp/*
*.zip
lambdas/
packer.log
org-policies/files/*
!org-policies/files/DIRECTORY_RETAINER
org-stacksets/files/*
!org-stacksets/files/DO_NOT_DELETE_THIS_FILE
.venv
.vscode
sceptre/values/*
!sceptre/values/DO_NOT_DELETE
sceptre/templates/*
!sceptre/templates/DO_NOT_DELETE
!sceptre/templates/custom*
network-sample/tffiles/.terraform/*
backendcredentials
deployercredentials
network-sample/tffiles/tfplan
!network-sample/tfbuild/DO_NOT_DELETE
network-sample/tfbuild/*
.terraform
tfplan
network-sample/modules/*
!network-sample/modules/DO_NOT_DELETE
*/main.tfvars
network-sample/variables/main.tfvars
network-sample/environments/networkaccount/iam/terraform.tfstate.d/
network-sample/environments/networkaccount/vpc/terraform.tfstate.d/
network-sample/environments/networkaccount/nat/terraform.tfstate.d/